@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar {
    background-color: #eff8f8;
}

.course-card {
    height: calc(100vh - 80px);    
}

.courses-container {
    height: calc(100vh - 200px); 
}